.searchMainBox {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  height: 9%;


}

.searchForm form {
  position: relative;
  width: 30rem;
  border-radius: 0.7rem;
  
}

input,
button {
  height: 3rem;
  border: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}

input[type='search'] {
  appearance: none;
  border-radius: 0.7rem;
  outline: 0;
  padding: 0 0.5rem;
  
  
}

